{{#each list}}
<li class="user" draggable="true">
    <div class="user__content" >
        <div class="user__photo" ><img src="{{photo}}" alt="" class="user__img" draggable="false"></div>
        <div class="user__name">{{userName}}</div>
    </div>
    <div class="user__remove"><div class="close"></div></div>
</li>
{{/each}}